#campaign
{

  h2.intro
  {

    font-weight: lighter;
    font-family: "purista-web-n3", "purista-web", sans-serif;
    font-style: normal;
    font-weight: 300;

  }

}

#main #News .item h2 a,
#main .subnews .item h2 a
#main #News .item h2,
#main .subnews .item h2 {
  font-weight: lighter;
  font-family: "purista-web-n3", "purista-web", sans-serif;
  font-style: normal;
  font-weight: 300;
}
