
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sommerskatten</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="css/screen.css">
    <link rel="stylesheet" media="print"  href="css/print.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/css/ie.css">
        <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-146052-10']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>

    <div class="container">
      <div class="orangeBox">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="header">
          <h1>Sommerskatten!</h1>
        </div>



<div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse" >
            <ul class="nav">
              {% for post in site.posts limit:4 %}
              <li class=""><a href="#Page_{{forloop.index0}}" title="{{ post.title }}" rel="bookmark" data-toggle="tab">{{ post.title }}</a></li>
              
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
        
        {{ content }}   

        <footer class="footer">

          <p>
            <img src="images/logo.png" class="left" alt="" />
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style ">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
              <a class="addthis_button_tweet"></a>



            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4feacf9209fcc136"></script>
            <!-- AddThis Button END -->
          </p>
        </footer>
      </div>



    </div> <!-- /container -->
    
    
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.js"></script>
    <script src="javascripts/application.js"></script>
    <script src="javascripts/jquery.instagram.js"></script>


  </body>
</html>
